.outer {
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;
  width: 50%;
  height: 30px;
}

.inner {
  background-color: green;
  height: 30px;
  text-align: right;
  align-content: center;
  transition: 0.3s ease-in;
}